@import url('https://fonts.googleapis.comn/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
header
{
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
}
header h1
{
    position: absolute;
    top: -10px;
    left: 55%;
    font-size: 3em;
    color: black;
    white-space: nowrap;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 100px;
}
header ul li a
{
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}
ul 
{
    margin: 10;
    padding: 0;
}
ul 
{
    list-style: none;
    width: 560px;
    margin: 100px auto;
}
li 
{
    float: left;
    margin: 0 5px;
    height: 96px;
}
li a
{
    color: rgb(0, 0, 0);
}
li a:hover
{
    color: white;
}
.hex 
{
    overflow: hidden;
    display: block;
    width: 100px;
    height: 116px;
    transform: rotate(-60deg) skewY(30deg);
}
.hexAn
{
    background: linear-gradient(#a0c1d4, #a6eacb);
    display: block;
    width: 100px;
    height: 116px;
    line-height: 116px;
    text-align: center;
    transform: skewY(-30deg) rotate(60deg);
}
.hexIn 
{
    background: linear-gradient(#6e5990, #7597de);
    display: block;
    width: 100px;
    height: 116px;
    line-height: 116px;
    text-align: center;
    transform: skewY(-30deg) rotate(60deg);
}
.hexEn 
{
    background: linear-gradient(#e58245, #ef5a5a);
    display: block;
    width: 100px;
    height: 116px;
    line-height: 116px;
    text-align: center;
    transform: skewY(-30deg) rotate(60deg);
}
li:nth-child(9n + 6) {
    margin-left: 60px;
}
